<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-push-8 col-md-push-8" id="sidebar">
    {% assign collectionTitle = "User Guide" %}
    {% assign collectionTitle_zzbroken = site.collections[page.collection].collectionTitle %}
    {% assign chapters = site[page.collection] %}

    {% if collectionTitle == null %}
        {% assign collectionTitle = page.title %}
        {% assign showPageToc = true %}
    {% endif %}

    <h4><a href="{{ "/user-guide/" | prepend: site.baseurl }}">{{ collectionTitle }} index</a></h4>
    <div class="hline"></div>

    <ul class="page-index">
    {% for chapter in chapters %}
        {% if chapter.relative_path contains "/index.html" %}
        {% else %}
            <li> <a href="{{ chapter.permalink | prepend: site.baseurl }}">{{ chapter.title | remove_first: collectionTitle | remove_first: ' - ' }} </a>
            <!--
            {% if page.permalink == chapter.permalink %}
                {{ chapter.content | extract_toc }}
            {% endif %}
            -->
            </li>
        {% endif %}
    {% endfor %}
    </ul>

<!--
    {% if showPageToc %}
        {{ page.content | markdownify | extract_toc }}
    {% endif %}
-->

</div>
