---
layout: complex_article
title: ScalaMock User Guide
permalink: /user-guide/
---

<h1>User Guide</h1>

<p>
Welcome to the ScalaMock User Guide. This guide explains in details how to use ScalaMock in your tests.
</p>
<p>
If you are new to ScalaMock or mocking in general we recommend starting with <a href="/quick-start/">Quick Start</a>.
</p>

<h3>Table of contents</h3>
<ul class="page-index">
    {% for chapter in site.user_guide %}
        {% if chapter.relative_path contains "/index.html" %}
        {% else %}
            <li>
                <a href="{{ chapter.permalink }}">{{ chapter.title | remove_first: 'User Guide - ' }} </a>
                {% if page.permalink == chapter.permalink %}
                    {{ chapter.content | extract_toc }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h3>API Reference</h3>

There is also <a href="http://scalamock.org/api/index.html#org.scalamock.package">API Reference (scaladoc)</a> available but we strongly recommend reading User Guide first.
