<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li {% if page.title == "News" %}class="active"{% endif %}><a href="{{"/news/" | prepend: site.baseurl }}">News</a></li>
        <li {% if page.title == "Quick Start" %}class="active"{% endif %}><a href="{{"/quick-start/" | prepend: site.baseurl }}">Quick Start</a></li>
        <li {% if page.title contains "User Guide" %}class="active"{% endif %}><a href="{{"/user-guide/" | prepend: site.baseurl }}">User Guide</a></li>
        <li {% if page.title == "Roadmap" %}class="active"{% endif %}><a href="{{"/roadmap/" | prepend: site.baseurl }}">Roadmap</a></li>
        <li {% if page.title == "Feedback" %}class="active"{% endif %}><a href="{{"/feedback/" | prepend: site.baseurl }}">Feedback</a></li>
        <li><a href="http://github.com/paulbutcher/scalamock">Github</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
